plugins {
    id 'nf-amazon'
}

process {
    executor        = 'awsbatch'
    queue           = 'apse2v3-spot-intel-rcm'
    errorStrategy   = 'finish'
    scratch = '/fsx/scratch'
    maxRetries = 5
    withLabel: 'preprocessing' {
        queue = 'apse2v3-spot-intel-16vcpus'
    }
}

executor {
    $awsbatch {
        queueSize = 1
    }
}

process.containerOptions = '-e BUCKET_BASE=/fsx/buckets -e OTEL_ENDPOINT=54.252.55.212:4317 --tmpfs /dev/shm:rw,size=65255'

aws {
    region = 'ap-southeast-2'
    client {
        maxConnections = 20
        connectionTimeout = 10000
        uploadStorageClass = 'INTELLIGENT_TIERING'
        storageEncryption = 'AES256'
    }

    batch {
        cliPath = '/opt/memverge/bin/aws'
        maxTransferAttempts = 3
        delayBetweenAttempts = '5 sec'
        maxSpotAttempts = 5
        volumes = ['/fsx:/fsx','/nextflow_awscli:/nextflow_awscli','/tmp']
    }
}

dag {
    enabled = true
    file = RESULTS_PATH + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = RESULTS_PATH + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = RESULTS_PATH + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = RESULTS_PATH + '/nextflow/trace.txt'
    overwrite = true
}